body {
    background-image: url('background.jpg'); /* Додаємо фонове зображення */
    font-family: Arial, sans-serif;
    background-size: cover; /* Розтягнути зображення на весь фон */
    background-repeat: no-repeat; /* Заборонити повторення зображення */
    background-attachment: fixed; /* Зафіксувати зображення на місці */
    color: #000000;
    margin: 0;
    padding: 0;
}
.page-header {    
    background-color: #ffffffaa;
    margin-top: 0;
    padding: 20px;
}
.page-header h1 {
    font-size: 48px;
    margin: 0;
    text-align: center;
}
.content {
    padding: 20px;
}
a {
    color:#062500;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
a:hover {
    color:#157e00;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.date {
    color: #666666;
}

.save {
    float: right;
    background-color: #ffffff;
    font-weight: bold;
    color: #062500;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.top-menu {
    list-style-type: none;
    font-size: 42px;
    float: right;
    margin: 0;
    padding: 0;
}

.top-menu li {
    display: inline;
}

.top-menu li a {
    color: #00fff7;
    text-decoration: none;
    padding: 10px 20px;
}

.top-menu li a:hover {
    background-color: #f2f2f2;
}

.post {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.col-md-8 {
    background-color: #ffffffaa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}